@media screen {
	html, body, .container {
		width: 768px;
		margin: 0 auto;
	}
}
.footer {

}
.relative-top {
	position: absolute;
	top: 0;
	left: -12px;
}
.relative-left {
	position: absolute;
	left: -12px;
	width: 100%;
}
.relative-right {
	position: absolute;
	right: -12px;
}
@media print {
	.footer {
		width: 100%;
		position: fixed;
		bottom: 0;
	}
}